# Node
node_modules/
.next/
**/.DS_Store

# Env
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Turbo cache
.turbo/
**/.turbo/
# Build outputs
out/
dist/
.vscode/
.gitignore~

# Test artefacts
**/test-results/
**/playwright-report/

# Build artefacts
**/tsconfig.tsbuildinfo
**/build_log.txt
**/dev_error.log
**/lh-report.json

# Generic noise
*.log
tmp*
*_output.txt
